@media (prefers-reduced-motion: no-preference){* {
    scroll-behavior: smooth;
  }}

:root{
    
    --color-dark-yellow: white;
    --color-light-orange: #3D90D9;
    --color-dark-orange: yellow;
    --color-background: black;
    --title-color:black;
    
    --white: black;

}

*
{
    color: white;
    box-sizing: border-box;
   
}

body {/* body element */
    background-color: var(--color-background);
    margin: 0%;
    padding: 0%;
    
     
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
   
}



#nav-tab{/* contains the two title divs */
    bottom: 0;
    top:0; 
   
    background: linear-gradient(var(--color-dark-yellow),var(--color-dark-orange));
 
    position: sticky;
    display: block;
   
    
    height: fit-content;
    font-size: small;
    
}

h1{
   
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

}

#main-title{/* main title element */
    color: var(--title-color);
   
    
    
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: var(--white);
    margin-bottom: 0;
    padding: 0;
}


.top-label{
    color: black;
    font-size: xx-large;
    position: absolute;
    top: 0;
    right: 100px;
}

#vehicle1{
    position: absolute;
    top: 30px;
    right: 200px;
    
    
}

#nav-buttons{/* the element containing nav-buttons */
   
    justify-content: flex-end;
    padding: 0%;
    margin: 0;
    z-index: 5;
   

    
    width: 100vw;
   
    display: flex;
}

.buttons{/*nav-buttons*/
    
    width: 100%;
    padding-top: 0%;
    margin: 0;
    
    
    
    padding-right: 2%;
    font-size: 30px;
    padding-bottom: 0;
    transition: transform ease 300ms;
    
}

.buttons:hover{
    transform: translate(0,-5px);
}
a{
   
    text-decoration: none;
    color: black;
    

   
    
}

a:hover{
   text-decoration:underline;
   
}




#content{/* contains the meat of the site, how to's */
   
    align-self: center;
    width: 100%
   
   
    
   
    
}


.sections{/* element containing each sections content */
   text-align: center;
   display: flex;
    flex-direction: column;
    padding: 2%;
    margin-bottom: 2%;
    height: 100vh;
    
   
}
.section-title{/* title of sections */
    background: linear-gradient(to left,var(--color-dark-yellow),var(--color-dark-orange));
    width: 100%;
    border-radius: 5000000px;
    align-self: center;
    color: var(--white);
   
  
    
    
}

.video-wrapper {/* element containing video content*/
    text-align: center;
    display: flex;
    justify-content: center;
    height: inherit;
    
   
  
}

.video-wrapper iframe{
    border: 1px solid yellow;
}

.t-btn{
   align-self: flex-start;
   font-size: larger;
   color: yellow;
   display: flex;
   background: none;
   border: none;
   justify-content: left;
   align-items: center;
}




.t-btnc{
    margin-left: 5vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: larger;    /* display:none; */
    
}

.time-stop{
    color:yellow;
    background: none;
    border: none;
    cursor: pointer;
    font-size: larger;
}

.modal{

    
    text-align: left;
    overflow: auto;
    width: 100%;
    font-size: larger;
    
    
    display: none;
    
}


.t-btn:hover{
   
    color:rgb(108, 108, 7);
   
}




iframe{
    min-width: 250px;
}





.video-description{/* element containing video description text*/
   /* display: none; */
   text-align: left;
   font-size: larger;
   height: fit-content;
   
   
}

footer{
    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    

}

footer label{
    font-size: larger;
}
.Socials{
    display: flex;
    column-gap: 5vw;
}
.fa-brands{
    font-size: larger;
    color: yellow;
}

.fa-brands:hover{
    color: #2A6BBF;
}

@media (max-width: 1000px){
    .t-btn{
        font-size: medium;
    }
    
    .modal{
        font-size: medium;
        height: 50vh;
    }

    .time-stop{
        font-size: medium;
    }

    label{
        font-size: small;
        
        right: 10px;

    }

    #vehicle1{
        font-size: small;
        
        right: 10px;
        top:15px;
    }


    
}
