*, ::after, ::before{
    box-sizing: border-box;
}

:root{
    --standard-color-1: #1041E8;
    --standard-color-2: #117FF2;
    --standard-color-3: #1AABDB;
    --standard-color-4: #11F2EF;
    --standard-color-5: #10E8A8;
}

body,h1{
    margin:0;
    padding:0;
    font-family: 'Patrick Hand', cursive;

}

.nav-bar{
    background: linear-gradient(var(--standard-color-1),var(--standard-color-3));
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    position: fixed;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
    
    
}

.title-section{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 2vw;
    background-color: gray;
    border-radius: 50%;
    
}

.title{
    font-size: 4em;
    align-self: flex-end;
    height: fit-content;
}

.logo{
    left:0;
    top:20vh;
    width: 8vw;
    left: 1vw;
    height: auto;
    border-radius: 20%;
    zoom: 50%;
    
    
}

.search{
   align-self: flex-end;
   text-align: left;
   margin-right: 2vw;
   height: 4em;
   width: 20vw;
   border: none;
   
}

h1{
   
   margin-left: 2vw;
   color: white;
   font-size: 64px;
}

.categories{
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vw;
    padding-top: 2vh;
    margin: 0;
    font-size: 30px;
}

.categories a{
    text-decoration: none;
    color: white;
}

.categories li{
    list-style: none;
}

.categories a:hover{
    
    color: var(--standard-color-5);
   
}